.loginbox{
  padding: 8px;
  background-color: white;
  align:center;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}

.usericon{
  margin-bottom: 5%;
  height: 100px;
  width: 100px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%)
}

.false{
  display: none;
  
}
.true{
  display: block;
}