

.shad{
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
}

.shad-hover{
transition:box-shadow 200ms linear;
}
.shad-hover:hover {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
}
.display{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50%;
  background-color: red;
  
}