body{
  background-attachment: fixed;
  background-size: cover; 
  background-color: lightblue;

}

.false{
  display: none;
  
  
}
.true{
  display: block;
}
.shad{
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
}


.shad{
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
}

.shad-hover{
transition:box-shadow 200ms linear;
}
.shad-hover:hover {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
}
.display{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50%;
  background-color: red;
  
}

/* +++++++++++PROFILE++++++++++++++ */

.profilebox{
  padding: 8px;
  background-color: white;
  align:center;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
  margin-top: 5%;
  margin-bottom: 5%;
  
}

.usericon{
  margin-bottom: 5%;
  height: 100px;
  width: 100px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, -20%)
}

.loginbox{
  padding: 8px;
  background-color: white;
  align:center;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}

.usericon{
  margin-bottom: 5%;
  height: 100px;
  width: 100px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%)
}


.card-effect{
transition:background-color 200ms linear, color 200ms linear;
}

.card-effect:hover{
  background-color: blueviolet;
  color: white;

}
.card-effect .card-btn{
  transition:background-color 200ms linear, color 200ms linear;
}
.card-effect:hover .card-btn{
  background-color: white;
  color: black;
}

.blog-box .blog-body{
transition:transform 200ms linear, background-color 200ms linear, color 200ms linear;
color:black;

}

.blog-box:hover .blog-body{
  background-color:rgb(13, 146, 117);
  color:white;
  transform: translateX(2%);
}

.blog-box .blog-status{
  transition:font-size 200ms linear;
  font-size: 10px;
  
}
.blog-box:hover .blog-status{
  font-size: 15px;
  color: white;
}
.blog-box .blog-title{
  transition:font-size 200ms linear;
  width:auto;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.blog-box:hover .blog-title{
  
  font-size: 30px;
  
}


.logo{
  width: 150px;
  height: 150px;
  background-color: rgb(23, 170, 138);
  color: white;
  text-align: center;
  border-radius: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo .logo-b{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  
}