{% extends "base.html" %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static' , filename="css/blog.css")}}">
{% endblock %}

{% block title %}
Tool-x blog
{% endblock %}

{% block body %}

<!-- ++++++++++MAIN_BODY+++++++++++++++ -->
<br>
<div class="container-fluid logo">
  <div class="logo-b">
    <h1>BLOG</h1>
  </div>
</div>
  <div class="container-fluid my-5 py-4">
    <!-- {{ blog_list }}   -->
    
    {% for i in blog_list %}
    <!-- {{ blog_list[i] }} -->
    <div class="card h-100 blog-box ">
      
      <div class="card-body blog-body shad-hover">
        <h5 class=" blog-title">
           !
          {{ blog_list[i]['title'] }}</h5>
        <p class="card-text">{{ blog_list[i]['body'] }}</p>
        <p class="blog-status">{{ blog_list[i]['status'] }}</p>
      </div>
    </div>
    
    {% endfor %}
  </div>
</div>

{% endblock %}