{% extends "base.html" %}


{% block title %}

Home Page

{% endblock %}

{% block body %}

<br><br>


<div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7 "><img class="img-fluid rounded mb-4 mb-lg-0 shad" src="{{ url_for("static", filename="img/1.jpg") }}" alt="..." /></div>
                    <!-- +++++++++++DIV-OF-WLECOM++++++ -->
                  
                    <div class="col-lg-5 bg-primary card text-white shad" style="padding:15px;">
                        <h1 class="font-weight-light" >The Only Solution</h1>
                        <hr class="my-4">
                        <p style="text-transform:uppercase;">This is a useful tool for every student and it get help all students in there daily homework and projects. 
                        this can make students furture bright by saving time on small works. 
                        wish a good day
                        </p>
                        <a class="btn btn-light shad-hover" href="#!">Call to Action!</a>
                    </div>

            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center shad">
                <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100 shad card-effect">
                        <div class="card-body shad-hover">
                            <h2 class="card-title">SAHID</h2>
                            <hr class="my-4">
                            <p class="card-text">You can get Information About our Army personal Who had loose there life While serving there Duty toward ther nation.
                              JAI HINDH
                            </p>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm shad-hover card-btn" href="{{ url_for("sahid") }}">Explore</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100 shad card-effect">
                        <div class="card-body shad-hover">
                            <h2 class="card-title">Card Two</h2>
                            <hr class="my-4">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm shad-hover card-btn" href="#!">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100 shad card-effect">
                        <div class="card-body shad-hover">
                            <h2 class="card-title">Card Three</h2>
                            <hr class="my-4">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm shad-hover card-btn" href="#!">More Info</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <!-- Core theme JS-->
        <script src="{{ url_for("static", filename = "js/scripts.js") }}"></script>

{% endblock %}